# General ignores
*~
*.log
*.tmp
*.tmp_proj

# Azure Functions localsettings file
local.settings.json

# Dependencies
node_modules/

# IDE files
.vs/
.idea/
*.user
*.cache

# Go build and cache directories
.go/
.cache/